<h1 class="text-6xl ..."><%= current_user.nick_name%>の飼い主チェッカー結果</h1>

<h2 class="text-3xl ...">あなたの飼い主適正は<%= @score%>%です</h2>

<div class = "feedback">
  <h4>以下は、テストに対するコメントです</h4><br>
  <p><%= @feedback %></p>
</div>

<%= link_to "結果を確認しました", animals_path, class:"py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border-2 border-blue-200 font-semibold text-blue-500 hover:text-white hover:bg-blue-500 hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"%>