<h1><%= @user.nick_name%>のプロフィール</h1>

<p>ニックネーム:<%= @user.nick_name%></p>

<p>都道府県:<%= @user.prefecture %></p>

<% if @user.movable_range == 0%>
  <p>移動可能範囲:0~50km</p>
<% elsif @user.movable_range == 1%>
  <p>移動可能範囲:50~100km</p>
<% elsif @user.movable_range == 2%>
  <p>移動可能範囲:100~200km</p>
<% else @user.movable_range == 3%>
  <p>移動可能範囲:200km以上</p> 
<% end %>

<p>自己紹介:<%= @user.self_introduction%></p>
