<body class="use_body">
  <h1 class="use_title">PETPARTNERの説明</h1>
  <p class="use_p">
  PETPARTNERとは、犬猫取引のCtoCアプリケーションです。<br>
  例えば、たくさん子供が生まれてしまって全部は飼えないので会社の同僚や近所の人など<br>誰かに譲渡したいが周りには断られてしまったので
  どうしようと考えている人や<br>飼い主チェッカーという機能もあるため取引はしなくても定期的に飼い主診断をして、自分が飼い主としての適性を測定するなど<br>ペットを飼っている人や
  飼いたいと考えている人ににつかってもらいたいアプリです。
  </p>
</body>