.evaluation_header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.evaluation_body {
  width: 100%;
  height: 100%;
}

/* .evaluation {
  text-align: center;
}

.evaluation_table {
  display: inline-block;  
  width: auto;       
  margin-right: 5rem;     
} */

.evaluation {
  display: flex;
  align-items: start;
  gap: 20px;
}

.evaluation_table {
  border-collapse: collapse;
}

.evaluation_table th, .evaluation_table td {
  
  padding: 8px 12px;
}

/* チャットルームへのリンクスタイルを修正 */
.height\:1px {
  height: 1px;
}