#image_preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;  
}

.preview-image {
  display: inline-block;
}

h1 {
  font-size: 5rem;
}

.custom-label {
  margin-right: 10px;
  display: inline-block;  
  text-align: center;
  width: 100px;
}

table td {
  width: 100%;
  padding: 10px;
}

#image_preview {
  display: inline-flex;
  gap: 10px;  
  text-align: center;
}

table {
  width: 70%; 
  margin-left: auto;
  margin-right: auto;
}