body {
  margin: 0;
  height: 100vh;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  /* font-family: 'Arial', sans-serif; */
}

.user_info {
  padding-bottom: 5rem;
  text-align: center;
}

.user_show_p {
  font-size: 30px;
  padding:10px 0 10px 0;
}

.button {
  text-align: center;
}